.wrapper {
    width: 100%;
    height: 100%;

    .container {
        display: flex;
        width: 100%;
        height: 100vh;
        
        .boxLeft {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            // background-color: salmon;
            padding: 0 5%;

            .boxContainer {
                // background-color: red;
                width: 400px;

                .boxTitle {
                    text-align: center;
                    margin-bottom: 30px;

                    h1 {
                        font-size: 30px;
                        margin-bottom: 10px;
                        color: #1e1e1e;
                    }

                    p {
                        color: gray;
                    }
                }

                .boxForm {
                    // background-color: salmon;

                    .boxInput {
                        margin-top: 10px;

                        .boxLabel {
                            margin-bottom: 10px;

                            label {
                                font-size: 16px;
                                font-weight: 550;
                                color: #1e1e1e;

                                span {
                                    color: orangered;
                                }
                            }
                        }

                        input {
                            border: 1px rgb(209, 209, 209) solid;
                            border-radius: 50px;
                            padding: 10px 20px;
                            font-size: 14px;
                            width: 100%;
                            color: #1e1e1e;
                            transition: all 300ms ease-in-out;

                            &:hover {
                                border: 1px rgb(127, 127, 127) solid;
                            }

                            &:focus {
                                border: 1px rgb(127, 127, 127) solid;
                                // color: red;
                                &::placeholder {
                                    color: #1e1e1e;
                                }
                            }
                        }
                    }

                    button {
                        width: 100%;
                        background-color: #1e1e1e;
                        border: 1px solid #1e1e1e;
                        color: #fff;
                        margin-top: 50px;
                        font-size: 14px;
                        padding: 10px;
                        border-radius: 50px;
                        margin-bottom: 20px;
                        transition: all 300ms ease-in-out;

                        &:hover {
                            background-color: #fff;
                            color: #1e1e1e;
                        }
                    }

                    .link {
                        font-size: 15px;

                        .linkTo {
                            font-size: 15px;
                            color: #a3232b;
                            font-weight: 600;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .messageError {
                        font-size: 15px;
                        margin-top: 20px;
                        text-align: center;
                        color: rgb(255, 0, 0);
                    }

                    .messageErrorE {
                        font-size: 15px;
                        margin-top: 15px;
                        text-align: center;
                        color: rgb(255, 0, 0);
                    }
                }
            }
        }

        .boxRight {
            height: 100%;
            width: 50%;
            padding: 20px;
            padding-left: 0;
            
            .boxRightImg {
                height: 100%;
                border-radius: 30px;
                background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url('../images/background-form.jpeg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}